


body {
  background-image: url("../images/bbisland.png"), url("https://github.com/ValleyElectric/site/blob/main/images/bbisland.png?raw=true");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: #4c5e66;
  height: 100%;
  width: auto;
  font-family: 'Niagara Solid';
  font-size: 43px;

}

#name{
  position: relative;
  font-size: 70px;
  font-weight: normal;
}

#articles{
  position: relative;
  font-size: 44px;
  font-weight: normal;
  right: .5em;
  top: .8em;
  text-decoration: underline;
  text-underline-position: below 20%;
}

#bandname{
  position: relative;
  top: 1em;
  left: 2em;
  width: 8em;
  height: 7em;
}

.bluesquare{
  position: absolute;
  top: 1em;
  left: -0.5em;
  width: 9em;
  height: 4.5em;
  background-color: #4c5e66;
}

#pagecontainer{
  position: relative;
  height: 200vh;
  min-height: 100vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}

#maintitle{
  font-size:100px;
  font-weight: normal;
  color: white;
}

#bandname > * {
  position: absolute;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

#menucontainer{
  position: relative;
  left: 2em;
  top: 4em;
}

#menubar{
  position: relative;
  height: 1.5em;
  font-size: 70px;
  color: #f7edeb;
}

.mainmenulink{
  color:inherit;
  text-decoration: none;
}

.mainmenulink:hover{
  color: black;
}

.doublestrike{

}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: white;
}

#licensefooter{
  font-family: arial;
  text-align: center;
  bottom: 1em;
  font-size: 10px;
}
